body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, rgba(185,241,120,1) 0%, rgba(22,26,29,1) 0%);
    position: relative;
}


.login{
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.login-page{
    background-color: white;
    height: 500px;
    width: 300px;
    border-radius: 30px;
    padding: 30px;
    text-align: center;
}

.title{
    font-family: "DM Serif Text";
    font-size: 30px;
}

.title{
    margin-bottom: 0%;
}

.login-header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.user-pass{
    display: flex;
    justify-content: center;
    vertical-align: middle;
    flex-direction: column;
    padding: 20px;
}

.username-textbox,
.password-textbox {
    width: 93%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 8%;
}

.login-button    {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.forgot-password{
    cursor: pointer;
}

.create-account{
    color:#b6b6b6;
}

.create-account:hover{
    color:#464646;
    cursor: pointer;
}

.authors{
    color:#9f9f9f;
}
