body{
    margin:0;
    padding: 0;
}

.header-top{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    margin-bottom: 20px;
    height: 50px;
    width: 100%;
    color: white;
    background-color: #5a5a5a;
}

.profile-image-div{
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.sample-pic{
    height: 65px;
    width: 65px;
    border-radius: 150px;
    margin-left: 15px;
}

.sample-pic-header{
    width: 50px;
    height: 50px;
    aspect-ratio: 1;
    margin-right: 10px;
    margin-left: 20px;
    border-radius: 30px;
    border: 2px solid white;

}

.sample-pic-header:hover {
    box-shadow: 0 0 5px 1px #f1ffc0;
    cursor: pointer;
}

.sample-pic-profile{
    width: 150px;
    height: 150px;
    border-radius: 300px;
    margin-right: 60px;
}

.new-post-button{
    margin-right: 15px;
    padding: 8px;
    background-color: #91f3aa;
    color: #000;
    border: 2px solid #1f943c;
    font-size: 15px;
    text-align: center;
    border-radius: 8px;
    height: 45px;
}

.new-post-button:hover {
    background-color: #42d667;
    cursor: pointer;
}


.search-container{    
    position: relative;
    width: 300px;
}

.search-textbox{
    width: 250px;
    height: 40px;
    padding-right: 45px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-right: 15px;
    font-size: 16px;
}

.search-textbox::placeholder{
    padding-left: 10px;
}

.secondary-button{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    height: 30px;
    width: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 18px;
    color: #888;
}

.top-div{
    display: flex;
    margin-top: 25px;
    justify-content: center;
    align-items: center;
}

.top-action-div{
    height: 30px;
    align-items: center;
    display: flex;
}

.profile-username{
    font-family: "DM Serif Text";
    font-size: 25px;
    margin-right: 20px;
}

.edit-profile-button{
    font-size: 16px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;   
}

.bio-tag, .github-tag{
    font-family: "DM Serif Text";
}

.posts-button, .comments-button, .likes-button{
    font-size: 16px;
    color: black;
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 15px;   
    font-family: "DM Serif Text";
}

.posts-button:hover, .comments-button:hover, .likes-button:hover{
    font-size: 16px;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;   
    font-family: "DM Serif Text";
}

.button-div{
    display: flex;
    margin-top: 60px;
    justify-content: space-evenly;
    align-items: center;
}

.horizontal-line{
    width: 70%;
}

.div-posts{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-post{
    margin-top: 5px;
    color: rgb(255, 255, 255);
}

.post-tag{
    color: rgb(255, 255, 255)
}

.subject-tag1{
    background-color: red;
    width: 74px;
    border-radius: 14px;
    padding: 5px;
    color: white;
}

.subject-tag2{
    background-color: rgb(127, 167, 104);
    width: 74px;
    border-radius: 14px;
    padding: 5px;
    color: white;
}

.subject-tag3{
    background-color: rgb(84, 177, 235);
    width: 74px;
    border-radius: 14px;
    padding: 5px;
    color: white;
}

.post1, .post2, .post3{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #5a5a5a;
    border-radius: 10px;
    width: 70%;
    margin: 10px 0;
    padding: 20px;
    transition: background-color 0.3s ease, border-color 0.3s ease, transform 0.2s ease; /* Smooth transition */
}

.post1:hover, .post2:hover, .post3:hover {
    background-color: #333;
    transform: scale(1.02); 
    cursor: pointer;
}

.div-comments{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comment-1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #5a5a5a;
    border-radius: 10px;
    width: 70%;
    margin: 10px 0;
    padding: 20px;
    transition: background-color 0.3s ease, border-color 0.3s ease, transform 0.2s ease;
}

.comment-subject-tag1{
    background-color: rgb(127, 167, 104);
    width: 74px;
    border-radius: 14px;
    padding: 5px;
    color: white;
}

.title-post1{
    color: white;
    margin-left: 15px;
    font-size: 20px;
}

.header-comment1{
    display: flex;
    align-items: center;
    height: 37px;
}

.date-comment1{
    color: white;
    font-size: 15px;
}

.comment{
    color: white;
}

.actions{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin-top: 15px;
}

.bi-star, .bi-chat, .bi-share{
    color: white;
    font-size: 30px;
}
