<html>
    <head>
        <title>Contents from the DB</title>
    </head>

    <body>
        <h1>Good morning, {{userData.name}}!</h1></a><br>
        This is your home page!<br>
        <br>
        <a href="/profile">View my profile page</a><br>
        <a href="/create-post">Create post</a><br>
        <a href="/view-post">View my posts</a>
    </body>
</html>