<html>
    <head>
        <title>Contents from the DB</title>
    </head>

    <body>
        <h1>Good morning, {{userData.name}}!</h1></a><br>
        <p>{{userData.quote}}</p> <br>
        <br>

        <br>
        <a href="/">back to home</a><br>
        <a href="/logout">log out</a>
    </body>
</html>