.vertical-line-divider {
    border-left: 1px solid #c7c8c9;
    height: 100vh;
    position: sticky;
    top: 0;
    margin-left: 10px;
    margin-right: 10px;
}

.search-bar {
    width: 250px;
    height: 40px;
    margin-right: 15px;
}

.new-post-button {
    margin-right: 15px;
    padding: 8px;
    background-color: #91f3aa;
    color: #000;
    border: 2px solid #1f943c;
    text-align: center;
}

.new-post-button:hover {
    background-color: #42d667;
}

.form-control-search:focus {
    box-shadow: none;
    border-color: #dee2e6;
}

.btn-search,
.btn-search:hover,
.btn-search:focus,
.btn-search:active {
    background-color: white !important;
    border-color: #dee2e6 !important;
}

.p-comment {
    white-space: pre-line;
    margin-bottom: 2px;
}

.h5-sides {
    white-space: nowrap;
}

.pfp {
    margin-right: 10px;
    border: 2px solid white;
}

.pfp:hover {
    box-shadow: 0 0 5px 1px #f1ffc0;
}

.name {
    margin-top: 20px;
}

.like-button {
    border: 0px;
    background-color: transparent;
    margin-right: 5px;
    font-size: 30px !important;
    transition: transform 0.1s ease;
}

.like-button:hover {
    transform: scale(1.2);
    color: #85b88b;
}

.reply-button {
    border: 0px;
    background-color: transparent;
    margin-right: 5px;
    font-size: 30px !important;
    transition: transform 0.1s ease;
}

.reply-button:hover {
    transform: scale(1.2);
    color: #1a428b;
}

.comments {
    width: 75%;
    margin: auto;
}

.comments-bg {
    background-color: #e4e4e4;
}

.main-post {
    background-color: #9fe1ff;
    width: 80%;
    margin: auto;
}

.overlay {
    position: fixed; 
    top: 0;
    width: 100%;
    height: 100%;
    background: #00000080;
    display: none; /* Keeps new post overlay hidden before pressing the "New Post" button */
    justify-content: center; 
    align-items: center;
    z-index: 9999; /* This fixes the search button not getting dimmed idk why that one is on top */
}

.actual-overlay {
    background: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 25px;
    width: 1000px;
    height: 510px;
    text-align: center;
}

textarea {
  width: 100%;
  resize: none;
  margin-bottom: 10px;
}

.header-area {
    background-color: #5a5a5a;
    padding: 10px;
    margin-bottom: 20px;
    color: white;
}